
.stay {
    min-width:280px;
}

.rdv-card_container {
    padding-block: 2rem;
    border-radius: 0.8rem;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 2rem;
}

.rdv-patient {
    font-size: 1.8rem;
    font-weight: 700;
    color: #0083BD;
}

.rdv-card {
    font-size: 1.2rem;
    margin-top: 0.8rem;
}

.rdv-card p {
    margin:0px;
    padding-block: 2px;
    font-size: 1.2rem;

}

.rdv-button-dossier, .rdv-button-finish {
    border: none;
    background-color: #FF6000;
    color: #fff;
    padding: 14px;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 0.8rem;
    margin-top: 1rem;
    min-width: 180px;

}

.rdv-button-dossier:hover {
    cursor: pointer;
    background-color: #36D2A7;
}


.rdv-button-finish:hover {
    cursor: pointer;
    background-color: red;
}

.container-for-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 80%;
}

.info-container-card {
    width: 100%;
}
